In [4]:
import pandas as pd
import numpy as np
import csv

In [5]:
df = pd.read_csv('AviationData.csv', encoding ='cp1252')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50132 non-null  object
 9   Airport.Name            52704 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87507 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81793 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82505 non-null  object
 30  Publication.Date        75118 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.0+ MB

/var/folders/_x/3hvhfs550_j07qx5c00fkgnc0000gn/T/ipykernel_21532/3431105789.py:1: DtypeWarning: Columns (6,7,28) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('AviationData.csv', encoding ='cp1252')

In [8]:
cols_to_drop = ['Air.carrier', 'Publication.Date', 'Purpose.of.flight', 'Location', 'Latitude' , 'Longitude', 'Event.Date', 'Accident.Number', 'Event.Id', 'Airport.Code' , 'Airport.Name' , 'Registration.Number' , 'FAR.Description']

In [9]:
df_clean_cols = df.drop(cols_to_drop, axis=1)
df_clean_cols.head()
good_makes = ['Boeing', 'Airbus Industrie', 'Airbus', 'Bombardier' , 'Boeing Stearman' , 'Gulfstream Aerospace' , 'Boeing Helicopters Div.' , 'Gulfstream American' , 'Gulfstream-schweizer' , 'Bombardier Inc.' , 'Bombardier Aerospace Inc.' , 'Airbus Industries' , 'Gulfstream']

df_clean_rows = df_clean_cols[(df_clean_cols['Amateur.Built'] != True) & ((df_clean_cols['Aircraft.Category'] == 'Airplane') | (df_clean_cols.Make.isin(good_makes)))]
df_clean_rows.isna().sum()

total_passengers = df_clean_rows['Total.Fatal.Injuries'] + df_clean_rows['Total.Serious.Injuries'] + df_clean_rows['Total.Minor.Injuries'] + df_clean_rows['Total.Uninjured']
df_clean_rows['Total_passengers'] = total_passengers
df_clean_rows.isna().sum()

df_clean_pass_nas = df_clean_rows.dropna(subset= ['Total_passengers'])

df_clean_pass_zeros = df_clean_pass_nas.drop(df_clean_pass_nas[df_clean_pass_nas['Total_passengers'] == 0].index, axis = 0)

df_clean_pass_zeros

/var/folders/_x/3hvhfs550_j07qx5c00fkgnc0000gn/T/ipykernel_21532/3142433963.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean_rows['Total_passengers'] = total_passengers

,Investigation.Type,Country,Injury.Severity,Aircraft.damage,Aircraft.Category,Make,Model,Amateur.Built,Number.of.Engines,Engine.Type,Schedule,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Total_passengers
7,Accident,United States,Non-Fatal,Substantial,Airplane,Cessna,140,No,1.0,Reciprocating,NaN,0.0,0.0,0.0,2.0,VMC,Takeoff,Probable Cause,2.0
8,Accident,United States,Non-Fatal,Substantial,Airplane,Cessna,401B,No,2.0,Reciprocating,NaN,0.0,0.0,0.0,2.0,IMC,Landing,Probable Cause,2.0
12,Accident,United States,Non-Fatal,Destroyed,Airplane,Bellanca,17-30A,No,1.0,Reciprocating,NaN,0.0,0.0,1.0,0.0,IMC,Cruise,Probable Cause,1.0
13,Accident,United States,Fatal(1),Destroyed,Airplane,Cessna,R172K,No,1.0,Reciprocating,NaN,1.0,0.0,0.0,0.0,IMC,Takeoff,Probable Cause,1.0
14,Accident,United States,Fatal(1),Destroyed,Airplane,Navion,A,No,1.0,Reciprocating,NaN,1.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88869,Accident,United States,Non-Fatal,Substantial,Airplane,PIPER,PA42,No,2.0,NaN,NaN,0.0,0.0,0.0,1.0,NaN,NaN,NaN,1.0
88873,Accident,United States,Non-Fatal,Substantial,Airplane,CIRRUS DESIGN CORP,SR22,No,1.0,NaN,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,1.0
88876,Accident,United States,Non-Fatal,Substantial,Airplane,SWEARINGEN,SA226TC,No,2.0,NaN,SCHD,0.0,0.0,0.0,1.0,NaN,NaN,NaN,1.0
88877,Accident,United States,Minor,Substantial,Airplane,CESSNA,R172K,No,1.0,NaN,NaN,0.0,1.0,0.0,0.0,VMC,NaN,NaN,1.0
88886,Accident,United States,Non-Fatal,Substantial,Airplane,AMERICAN CHAMPION AIRCRAFT,8GCBC,No,1.0,NaN,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,1.0

In [10]:
list = list(df_clean_pass_zeros['Model'].unique())

df_clean_pass_zeros['Model'].value_counts()

Model
172                     805
152                     366
182                     313
PA28                    267
SR22                    248
                       ...
Glasair SHA               1
EMB-135LR                 1
FREEBIRD LITESPORT U      1
Microlite                 1
M-8 EAGLE                 1
Name: count, Length: 4927, dtype: int64

In [16]:
df_clean_pass_zeros.to_csv('AviationDataCleaned.csv')